{% set route_name = app.request.attributes.get('_route') %}

<header class="header">
        <div class="container d-desktop">
            {% include 'partials/nav-desktop.html.twig' %}
        </div>
        <div class="container d-mobile">
            {% include 'partials/nav-mobile.html.twig' %}
        </div>
    </nav>
</header>
