<ul class="navigation">
    <li {% if route_name == 'homepage' %} class="navigation__item navigation__item--active" {% else %} class="navigation__item" {% endif %} >
        <a class="navigation__link t-thin" href="{{ path('homepage') }}">Home</a>
    </li>
    <li {% if route_name == 'about' %} class="navigation__item navigation__item--active" {% else %} class="navigation__item" {% endif %} >
        <a class="navigation__link t-thin" href="{{ path('about') }}">About me</a>
    </li>
    <li {% if route_name == 'work' %} class="navigation__item navigation__item--active" {% else %} class="navigation__item" {% endif %} >
        <a class="navigation__link t-thin" href="{{ path('work') }}">My work</a>
    </li>
</ul>
