{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
    <div class="container page-home">
        {% include 'components/introduction.html.twig' %}
        {% include 'components/work-showcase.html.twig' %}
    </div>
{% endblock %}
