/* COLORS */
$color-primary: #FFF;

$color-secondary: #3597A6;
$color-secondary-dark: #1F454E;

$color-neutral: #333;

/* FONT SIZE */
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-32: 2rem;

/* SPACING */
$spacing-16: 1rem;
$spacing-32: 2rem;
$spacing-48: 3rem;

/* BREAKPOINTS */
$breakpoint: 768px;
