/* COLORS */
$color-primary: #fff;

$color-secondary: #3597a6;
$color-secondary-dark: #1f454e;

$color-neutral: #333;

/* FONT SIZE */
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-48: 3rem;

/* SPACING */
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-32: 2rem;
$spacing-48: 3rem;
$spacing-160: 10rem;

/* BREAKPOINTS */
$breakpoint: 768px;
