@use "../variables.scss" as *;

.work {
    display: grid;
    gap: $spacing-48;

    @media (min-width: $breakpoint) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    &__item {
        background-color: $color-secondary;
        all: unset;
        cursor: pointer;
    }

    &__item:hover &__image {
        transform: scale(1.25);
        transition: transform 0.25s;
    }

    &__image-wrapper {
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        padding-top: 75%;

        background-repeat: no-repeat;
        background-size: cover;

        transform-origin: center;
        transition: transform 0.5s;
    }

    &__image-decor {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        margin: $spacing-16;
        border: 2px solid $color-secondary;
        opacity: 0.5;
    }

    &__text {
        padding: $spacing-16;

        & > * {
            margin-top: $spacing-16;
            margin-bottom: $spacing-16;
        }
    }
}
